<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post_path(post) %>
      <% if current_user && post.user_id == current_user.id %>
        <%= link_to "Edit", edit_post_path(post) %> |
        <%= button_to "Delete", post_path(post), method: :delete %> 
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
