<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV["web_name"] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% if current_user %>
        Logged in as <%= current_user.name %> |
        <%= button_to "Logout", logout_path, method: :delete %> 
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
      <%= link_to "All Users", users_path %>
      <%= link_to "All Posts", posts_path %>
      <%= link_to "All Categories", categories_path %>
    </nav>
    <%= yield %>
  </body>
</html>
